<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>Flickr Search</title>
    <link rel="stylesheet" href="lib/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="style.css"/>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic' rel='stylesheet'
          type='text/css'>
</head>
<body ng-app="flickrSearch" ng-controller="ListController" layout="column" layout-align="top center">
<!-- navigation container -->
<md-toolbar>
    <div class="md-toolbar-tools">
        <span class="md-flex">Flickr Search</span>
    </div>
</md-toolbar>

<!--end navigation-->

<!--begin app content-->

<md-content layout="column" layout-align="top center">
    <div class="app-content">
        <!--search parameters-->
        <div class="search-params" layout="row" layout-align="space-around center">

            <md-select ng-model="numResults" ng-init="numResults=25" placeholder="25 Photos" class="md-accent">
                <md-option value="10">10 Photos</md-option>
                <md-option value="25">25 Photos</md-option>
                <md-option value="50">50 Photos</md-option>
                <md-option value="100">100 Photos</md-option>
            </md-select>

            <md-select ng-model="dateResults" ng-init="dateResults = 'any'" placeholder="Any Time" class="md-accent">
                <md-option value="any">Any Time</md-option>
                <md-option value="month">Past Month</md-option>
                <md-option value="halfYear">Past 6 Months</md-option>
                <md-option value="year">Past Year</md-option>
            </md-select>

            <md-select ng-model="safeSearch" ng-init="safeSearch = 1" placeholder="Safe Search" class="md-accent">
                <md-option value="1">Safe Search</md-option>
                <md-option value="2">Moderated</md-option>
                <md-option value="3">Safe Search Off</md-option>
            </md-select>

        </div>
        <!--search bar and progress indicator-->
        <form ng-submit="search()">
            <div ng-show="!isSearching">
                <md-input-container layout="column" layout-align="left" class="long">
                    <label>Search Flickr</label>
                    <input type="text" ng-model="searchTerm">

                </md-input-container>
            </div>
            <md-progress-circular ng-if="isSearching" md-mode="indeterminate"
                                  layout-align="center center"></md-progress-circular>
        </form>

        <!--begin photo gallery-->
        <div class="gallery-container" layout="column" layout-align="center center">
            <div layout="row" flex>
                <div layout="row" flex layout-wrap layout-align="center center" layout-fill>
                    <md-card ng-repeat="picture in results.photos.photo" class="card" ng-click="expandMode($index)">
                        <a><img
                                ng-src="https://farm{{picture.farm}}.staticflickr.com/{{picture.server}}/{{picture.id}}_{{picture.secret}}_q.jpg"
                                alt=""/></a>

                        <div class="textContainer">
                            <div class="picture-title">{{picture.title | limitTo: 100}}</h3>
                            </div>
                    </md-card>

                </div>
            </div>
        </div>

    </div>

</md-content>

<!--wix sdk-->

<script type="text/javascript" src="//sslstatic.wix.com/services/js-sdk/1.42.0/js/wix.min.js"></script>

<!-- vendor scripts -->

<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular-aria/angular-aria.min.js"></script>
<script src="lib/angular-animate/angular-animate.min.js"></script>
<script src="lib/hammer.js/hammer.js"></script>
<script src="lib/angular-material/angular-material.min.js"></script>

<!-- app scripts -->

<script src="app.js"></script>

</body>
</html>