.app-content {
    width: 100%;
    overflow: hidden;
}
form {
    padding: 10px 30px 20px 25px;
}
md-input-container.long > input {
    width: 100%;
}
md-card{
    margin: 5px 5px 5px 5px;

}

.card {
    display: table;
    height: 300px;
    overflow: hidden;
    max-width: 240px;
}

.card img {
    width: 100%;
    height: auto;
    display: table-row;
    max-width: 240px;
    max-height: 240px;
}

.card h3 {
    display: table-cell;
    overflow: hidden;
    vertical-align: bottom;
    word-wrap: break-word;
    max-width: 240px;
}

.textContainer {
    display: table-row;
    max-width: 240px;
    overflow: hidden;
    text-overflow: clip;

}