.app-content {
    width: 100%;
}
form {
    padding: 10px 30px 20px 25px;
}
md-input-container.long > input {
    width: 100%;
}

.md-card-image {
    max-height: 75%;
}

.gridGallery {
    padding: 0 10px 0 10px;
}

.grid-content {
    padding: 0 0 0 0;
}

md-card {
    max-height: 250px;
    text-overflow: clip;
}