/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 767px) {

    md-card {
        margin: 3px 3px 3px 3px;

    }

    .card {
        display: table;
        height: auto;
        overflow: hidden;
        max-width: 200px;
    }

    .card img {
        width: 100%;
        height: auto;
        display: table-row;
        max-width: 200px;
        max-height: 200px;
    }

    .card .picture-title {
        display: table-cell;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: bottom;
        word-wrap: break-word;
        max-width: 200px;
        font-size: .80em;
    }

    .textContainer {
        display: table-row;
        max-width: 200px;
        overflow: hidden;
        height: auto;
    }
}

/* TODO iPad media queries */
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width: 1025px) {

    md-card {
        margin: 5px 5px 5px 5px;

    }

    .card {
        display: table;
        min-height: 150px;
        max-height: 180px;
        overflow: hidden;
        max-width: 150px;
    }

    .card img {
        height: auto;
        display: table-row;
        max-width: 150px;
        max-height: 180px;
    }

    .card .picture-title {
        display: table-cell;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: bottom;
        word-wrap: break-word;
        max-width: 150px;
        font-size: .80em;
    }

    .textContainer {
        display: table-row;
        max-width: 150px;
        overflow: hidden;
    }
}

.app-content {
    width: 100%;
    overflow-x: hidden;
}

md-input-container.long > input {
    width: 100%;
}

form {
    padding: 0 50px 0 40px;
}

.search-params {
    height: 30px;
    padding-bottom: 7px;
    overflow: hidden;
}

md-card {
    text-align: center;
}

md-card:hover {
    background-color: #607D8B;
}

md-content {
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border: 1px solid;
    border-color: transparent #CCC #CCC #CCC;
    height: 100%;
}

.gallery-container {
    height: 100%;
}

.picture-title {
    font-size: .8em;
    font-weight: 500;
}

[ng-click], [md-card] {
    cursor: pointer;
}